/* Structure */

.container {
  margin-top: 1em;
  text-align: center;
}

#profile-img {
  border-radius: 100%;
  width: 30%;
}

#links {
  padding: 0;
  text-align: center;
}

#links ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#links ul li {
  display: inline-block;
}

/* Typography */
h1{
  font-family: 'Montserrat';
}

p {
  font-family: 'Inconsolata';
  font-size : 1.8em;
}

#console {
  color : #999;
  font-size: 1.2em;
}

#links ul {
  font-size: 1.2em;
  font-family: 'Inconsolata';
  color : #0976D5;
}
